# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
wheels/
.installed.cfg
MANIFEST
.env
.venv/
env/
venv/
ENV/
*.whl
.python-version

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
**/.DS_Store
.claude/
CLAUDE.md


# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Testing
.coverage
htmlcov/
.pytest_cache/
coverage/
.nyc_output/

# Logs
logs
*.log

